/* add code here to make your image 300px square */
#pet {
    height: 300px;
}


/* add code here to change the color and font family of your name/title */
.Doggy {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: aqua;
    font-style: italic;
}

/* Bonus: change the color of your list elements */